[submodule "shadowcat"]
	path = shadowcat
	url = git@github.com:kevinswiber/shadowcat.git
[submodule "specs/mcp"]
	path = specs/mcp
	url = https://github.com/modelcontextprotocol/modelcontextprotocol.git
